li {
  padding: 12px;
  margin: 5px;
  background: #3aabc7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}